html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 20px;
  background-color: #eef2f5;
}

/* Block content */

header {
  background-color: white;
  display: flex;
  text-transform: uppercase;
}

.header-section {
  display: flex;
  padding: 20px;
  align-items: center;
}

.link {
  font-weight: 600;
}

.header-section-logo {
  margin-left: auto;
}

.content-block {
  background-color: white;
}

.content-horizontal {
  display: flex;
  /* fill available width */
  justify-content: space-between;
}

.content-horizontal-non-last {
  margin-right: 20px;
}

.content-horizontal-section {
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  padding: 30px;
}

header, footer {
  margin-bottom: 20px;
}

/* Forms */

.form-background {
  background-color: white;
  padding-top: 0.2em;
  padding-bottom: 2em;
}

.form-label {
  width: 8em;
}

.form {
  border-color: #808080;
  width: 18em;
  text-align: left;
}

.form-block {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.form-heading {
  color: #005aa1;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.6em;
}

/* Miscellaneous */

.radio {
  margin-left: 3em;
}

.blue-style {
  background-color: #005aa1;
  color: white;
}

.light-gray-style {
  background-color: #d0d0d0;
  border: none;
  color: black;
}

.gray-style {
  background-color: #373737;
  color: white;
}

.unlink {
  color: inherit;
  text-decoration: none;
}

.unlink:hover {
  color: inherit;
  text-decoration: none;
}

.downsized-remove {
  width: 40%;
  height: 40%;
}

.sized-button {
  display: inline-block;
  text-align: center;
  width: 70px;
  height: 40px;
  line-height: 40px;
  align-items: center;
}

.move-text-down {
  /* move text down to center it */
  position: relative;
  top: 1.5px;
}
