@page "/ShowParticipants/{EventId:int}"
@model ShowParticipantsModel
@{
    ViewData["Title"] = "Vaata osalejaid";
}

<div class="form-background">
<div class="form-block">
<h2 class="form-heading">Vaata osalejaid</h2>
</div>
</div>
